.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-image img {
  width: 400px;
  height: 200px;
  mix-blend-mode: darken;
}

.navbar {
  display: flex;
  justify-content: center;
}

.full-inventory, .login-item {
  display: flex
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}

th {
  text-align: left;
}

.inventory-list {
  padding-bottom: 10px;
}

.item-name {
 width: 25%;
}

.quantity {
  width: 10%;
}

html {
  background-color: rgb(250, 245, 245);
}